.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}


#templates {
    margin-left: 5%;
    width: 80%;
    grid-column-start: 1;
    grid-column-end: 1;
}

#reports {
    margin-right: 5%;
    grid-column-start: 2;
    grid-column-end: 3;
}